body {
  background-image: url('../images/lg.jpeg'); /* fallback for large devices */
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  body {
      background-image: url('../images/md.png'); /* used for medium and small devices */
      background-size: cover;
  }
}
.bg_col{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius:25px;
  color:white;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.logo img {
  width: 30%;
  height: auto;
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .logo img {
      max-width: 200px;
  }
}

/*
    *{ border: 1px solid red; }
*/

.page
{
  height: 100vh;
  margin: 0 auto;
  max-width: 100%;
  color: black;
  font-family: "Ariel", sans-serif;
  background-color: rgba(10, 10, 10, 0.2);
}

.head
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#logo
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#login
{
  margin-bottom: 5px;
}

#margin_zero
{
  margin: 0;
}

.privacy
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#codeError
{
  display: none;
  margin-bottom: 10px;
}

a
{
  color: white;
  text-decoration: underline;
}

/* Media Query for Desktops */

@media only screen   
and (min-width: 768px)
{
  html
  {
  }

  #logo
  {
    max-width: 10%;
  }

  .main
  {
    height: 80%;
  }

  #login
  {
    margin-top: 20px;
  }

}

/* Media Query for iPads */

@media only screen 
and (min-width: 600px)
{
  #logo
  {
    max-width: 5%;
  }
}

